body {
    font: 10pt Arial, Helvetica, sans-serif;
    /* Шрифт на веб-странице */
    /* background: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1613643587_8-p-fon-dlya-prezentatsii-odnotonnii-pastelnii-8.png) no-repeat; Цвет фона */
    -webkit-background-size: 100%;
    /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%;
    /* Opera 9.6+ */
    background-size: 100%;
    /* Современные браузеры */
    background-color: #fff3cd59;
    background-size: cover;
    /* Масштабируем фон */
}

.container.footer {
    background-color: #e7ebada6;

}

.container.card-title {
    text-decoration: none;
    /*Убираем стандартное подчёркивание ссылки если оно ещё не убрано*/
}

.container.header {
    background-color: #e7ebada6;
}

.d-flex flex-wrap {
    width: 60%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
}

/*header style*/
.header {
    background-image: img;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.container.card-title {
    text-align: center;
}

.container.about {
    margin: 4em 0;
    padding: 1em;
    position: relative;
}

.about img {
    height: 100%;
    width: 100%;
    border-radius: 20%
}

.about span {
    /* display: block; */
    color: #888;
    /* position: absolute;
    left: 115px; */
}

.about p {
    display: block;
    color: #888
}

.about .desc {
    padding: 2em;
    border-left: 4px solid #10828C;
}

.about .desc h3 {
    color: #10828C;
}

.about .desc p {
    line-height: 2;
    color: #888;
}

iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
}

table {
    overflow: auto;
    /* overflow-y: scroll; */
}

.page-selector-area {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: fit-content; */
}

.page-selector-area .page-selector-item {
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    font-size: 1.2em;
    margin: 0 5px;
    /* padding: 0.3em 0.3em; */
    width: 3em;
    height: 3em;
}

.page-selector-area .page-selector-item:hover {
    border: 1px solid rgb(210, 210, 210);
    border-radius: 50%;
}

.page-selector-area .page-selector-item.current {
    font-weight: 600;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 50%;
}

.slider img {
    object-fit: contain;
    object-position: 50% 50%;
    height: 60%;
}

.container-slider {
    height: 60vh;
}

.slider {
    height: 100%;
}

.slick-list {
    height: 100%;
}

.slick-track {
    height: 100%;
}

.slider .row {
    margin-left: 0;
    margin-right: 0;
    height: 100%;
}

.slider .row .card {
    height: 100%;
}

#viewport {
    display: flex;
    flex-direction: column;
    height: 75vh;
    align-items: center;
    justify-content: center;
 }

 .login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    padding: 2em 2em 1em 2em;
    background-color: #e7ebada6;
 }

 .login-card-header {
    font-size: 1.5em;
    margin-bottom: 1em;
 }

 .login-card-form {
    font-size: 1.2em;
    margin: 10px 0px;
 }

 .login-card-form input.form-control {
    background-color: #ffffff80;
 }